@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: franklin;
  src: url('/assets/fonts/FranklinGothic-Heavy.otf');
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Sarabun", sans-serif;
  background-color: #1c2430 !important;
}

.text-blue {
  color: #3586FF !important;
}

.text-light-blue {
  color: #D4E5FF !important;
}

/* font-size */
.fs-xl {
  font-size: 43px;
}

.fs-xs {
  font-size: 14px;
}

.font-franklin {
  font-family: "franklin", sans-serif;
}

.media-icon {
  width: 24px;
}

.menu-buttom {
  width: 32px;
  height: 2px;
  background-color: white;
  transition: all 300ms linear;
  border-radius: 10px;
}

.menu-buttom-one {
  width: 26px;
}

.menu-open {
  transform: translateY(4px) rotate(45deg);
  width: 32px;
}

.menu-open-two {
  transform: translateY(-6px) rotate(-45deg);
}

/* Header */
.header-links {
  padding-right: 128px !important;
}

.nav-parent {
  max-width: 1921px;
  margin: 0 auto;
}

.nav-logo img {
  max-width: 420px;
  height: 81px;
}

.nav-logo {
  top: 0;
  left: 0;
}

.nav-link-parent {
  gap: 32px;
  padding-top: 31px;
}

.nav-link {
  font-size: 16px;
  line-height: 130%;
  position: relative;
  transition: all 300ms ease-in-out;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  bottom: -2px;
  left: 0;
  transition: width 300ms ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

/* =========== HERO SECTION ========= */
.hero-heading {
  font-size: 64px;
  line-height: 113%;
  color: #3586ff;
  font-weight: 400;
  position: relative;
}

.hero-heading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 2px;
  width: 164px;
  height: 1px;
  background-color: #3586ff;
}

.hero-nekozuma {
  padding-top: 29px;
  max-width: 1920px;
  margin: 0 auto;
}

.hero-nekozuma .container {
  padding-left: 170px;
  padding-top: 80px;
}

.hero-description {
  max-width: 509px;
  padding-top: 10px;
}

.hero-button {
  background-color: #245aab;
  border-radius: 9px;
  border: 1px solid transparent;
  padding: 7.2px 24px;
  line-height: 130%;
  margin-top: 43px;
  transition: all 300ms linear;
}

.hero-button:hover {
  background-color: white;
  border: 1px solid #3586ff;
  color: #3586ff !important;
}

/* ============Story=========== */
.story-description {
  max-width: 888px;
}

.story-description-2 {
  max-width: 888px;
  padding-bottom: 58px;
  padding-top: 36px;
}

/* ============Team =========== */
.team-card {
  max-width: 205px;
}

.team-card-parent {
  max-width: 880px;
}

.team-heading {
  color: #3586ff;
  font-size: 43px;
  line-height: 113%;
  padding-bottom: 36px;
  padding-top: 56px;
  position: relative;
  max-width: 168px;
}

.team-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 168px;
  height: 1px;
  background-color: #3586ff;
}

/* Footer */
.footer-bg {
  background-image: url('/assets/images/png/footer-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 174px;
}

.media-links {
  transition: all 300ms linear;
}

.media-links:hover {
  scale: 1.3;
}

.footer-text {
  font-size: 21px;
  text-decoration: none;
}

@media (max-width: 1023.98px) {
  .header-links {
    padding-right: 0 !important;
  }

  .blue-box {
    width: 665px !important;
    height: 273px !important;
  }

  .hero-nekozuma {
    flex-direction: column;
    gap: 24px;
  }

  .hero-nekozuma .container {
    padding-left: 125px;
  }

  .hero-nekozuma img {
    width: 390px;
    height: 100%;
  }

  .hero-button {
    margin-top: 16px;
  }

  .left-vector {
    width: 200px !important;
    height: 100% !important;
  }

  .right-vector {
    display: none;
  }

  .cats-img {
    max-width: 202px;
    max-height: 202px;
  }
}


@media (max-width: 767.98px) {

  /* ==== Header Responsive ==== */
  .nav-link-parent {
    gap: 20px;
    background-color: #245aab !important;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    transition: all 300ms linear;
  }

  .nav-logo img {
    width: 270px;
    height: 70px;
  }

  /* ==== Hero Responsive */

  .left-vector,
  .blue-box {
    display: none;
  }

  .hero-nekozuma .container {
    padding: 45px 20px 0px;
  }

  .hero-heading {
    font-size: 48px;
  }

  /* ==== Team Responsive */
  .team-heading {
    padding-bottom: 32px;
    padding-top: 12px;
  }

  .team-heading::after {
    width: 110px;
  }

  .team-card {
    max-width: 305px;
  }

  .team-card-img {
    width: 305px !important;
    height: 305px !important;
  }

  /* fs */
  .fs-xl {
    font-size: 24px !important;
  }
}